<div>
  <%= render Layout::BreadcrumbsComponent.new(Project) %>
  <div class="projects">
    <%= render Layout::PageHeaderComponent.new(Project) do |c| %>
      <% c.with_action do %>
        <%= render Actions::CreateActionComponent.new(href: new_project_path, turbo_frame: dom_id(Project.new)) %>
      <% end %>
    <% end %>
    <%= turbo_frame_tag Project.new %>
    <div class="list">
      <%= render Table::TableComponent.new(
        collection: @projects,
        row_component: Table::Rows::ProjectRowComponent,
        headers: ["Title", "Actions"],
        id: "projects",
        empty_message: "No existing projects"
      ) %>
    </div>
  </div>
</div>