<div>
  <%= render BreadcrumbsComponent.new(Project) %>
  <div class="projects">
    <%= render PageHeaderComponent.new(Project) do |c| %>
      <% c.with_action do %>
        <%= render CreateActionComponent.new(href: new_project_path, turbo_frame: dom_id(Project.new)) %>
      <% end %>
    <% end %>
    <%= turbo_frame_tag Project.new %>
    <div class="list">
      <%= render TableComponent.new(
        collection: @projects,
        row_component: ProjectRowComponent,
        headers: ["Title", "Actions"],
        id: "projects",
        empty_message: "No existing projects"
      ) %>
    </div>
  </div>
</div>