<div>
  <%= render BreadcrumbsComponent.new(@project) %>
  <div class="project">
    <%= render PageHeaderComponent.new(@project) do |c| %>
      <% c.with_action do %>
        <%= render EditActionComponent.new(href: edit_project_path(@project), turbo_frame: dom_id(Project.new)) %>
      <% end %>
      <% c.with_action do %>
        <%= render DeleteActionComponent.new(href: project_path(@project)) %>
      <% end %>
    <% end %>
    <div class="details bg-base-100 rounded-lg p-6">
      <dl class="space-y-4">
        <div class="property-row">
          <dt class="text-sm font-medium text-base-content/70 block mb-1">Description</dt>
          <dd class="description prose prose-sm max-w-none bg-base-200 rounded p-3">
            <%= simple_format(@project.description) %>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>