<div>
  <%= render BreadcrumbsComponent.new(@project, "Effort Breakdown") %>
  <div class="effort-breakdown">
    <%= page_header "Effort Breakdown", actions: [{
      label: "Add Root Effort",
      link: new_project_effort_path(@project),
      options: { data: { turbo_frame: "effort-sidebar" } }
    }] %>
    <div class="grid grid-cols-12 gap-6 h-screen">
      <div class="col-span-6 p-4 overflow-y-auto">
        <h3 class="text-lg font-semibold mb-4">Effort Structure</h3>
        <%= turbo_frame_tag "effort-tree" do %>
          <%= render partial: "effort_tree", locals: { efforts: efforts } %>
        <% end %>
      </div>
      <div class="col-span-6 p-4">
        <%= turbo_frame_tag "effort-sidebar" do %>
          <% if is_edit %>
            <%= render "form" %>
          <% elsif effort %>
            <%= render effort %>
          <% else %>
            <%= render partial: "empty_sidebar" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
