<% efforts.each do |effort| %>
  <li class="effort-node py-4 pl-4" id="<%= dom_id(effort) %>" data-treesortable-update-url="<%= project_effort_path(@project, effort) %>" data-treesortable-id="<%= effort.id %>" data-controller="reveal">
    <div class="flex items-center gap-3">
      <% if effort.children.empty? %>
        <%= render IconComponent.new(name: :hashtag, size: :md, css_class: "icon flex-shrink-0 text-primary") %>
      <% else %>
        <button data-action="reveal#toggle" type="button">
          <%= render IconComponent.new(
            name: :chevron_down,
            size: :md,
            css_class: "icon flex-shrink-0 text-primary #{@effort&.parent == effort ? '' : 'hidden'}",
            data: { reveal_target: "item" }
          ) %>
          <%= render IconComponent.new(
            name: :chevron_right,
            size: :md,
            css_class: "icon flex-shrink-0 text-primary #{@effort&.parent == effort ? 'hidden' : ''}",
            data: { reveal_target: "item" }
          ) %>
        </button>
      <% end %>
      <%= link_to effort.title, project_effort_path(@project, effort), class: "title flex-1 link link-hover text-base-content", data: { turbo_frame: "_top" }%>
      <%= render IconComponent.new(
        name: :arrows_up_down,
        size: :md,
        fill: "currentColor",
        css_class: "sort-handle flex-shrink-0 text-secondary",
        data: { treesortable_handle: true }
      ) %>
    </div>
    <div class="flex gap-3">
      <div class="w-6 flex-shrink-0"></div>
      <ul data-reveal-target="item" class="effort-subtree space-y-4 flex-1 <%= ((@effort&.parent == effort) or effort.children.empty?) ? '' : 'hidden' %>">
        <% unless effort.children.empty? %>
          <%= render partial: "effort_subtree", locals: { efforts: effort.children } %>
        <% end %>
      </ul>
    </div>
  </li>
<% end %>
