<tr class="category" id="<%= dom_id(category) %>">
  <td class="title">
    <%= link_to category.title, project_category_path(project, category),
      data: { turbo_frame: "_top" },
      class: "link link-hover" %>
  </td>
  <td class="type">
    <span class="badge badge-outline badge-primary">
      <%= category.category_type.humanize %>
    </span>
  </td>
  <td class="actions">
    <div class="flex gap-2">
      <%= link_to "Edit", edit_project_category_path(project, category),
          data: { turbo_frame: dom_id(Category.new) },
          class: "btn btn-primary btn-xs" %>
      <%= button_to "Delete", project_category_path(project, category),
          method: :delete,
          data: {
            confirm: "Are you sure?",
            turbo_method: :delete,
            turbo_stream: true
          },
          class: "btn btn-error btn-xs" %>
    </div>
  </td>
</tr>