<tr class="category" id="<%= dom_id(category) %>">
  <td class="title">
    <%= link_to category.title, project_category_path(project, category),
      data: { turbo_frame: "_top" },
      class: "link link-hover" %>
  </td>
  <td class="type">
    <span class="badge badge-outline badge-primary">
      <%= category.category_type.humanize %>
    </span>
  </td>
  <td class="actions">
    <div class="flex gap-2">
      <%= render EditActionComponent.new(
        href: edit_project_category_path(project, category),
        turbo_frame: dom_id(Category.new),
        size: :xs
      ) %>
      <%= render DeleteActionComponent.new(
        href: project_category_path(project, category),
        size: :xs
      ) %>
    </div>
  </td>
</tr>