<div>
  <%= render BreadcrumbsComponent.new(@project, Category) %>
  <div class="categories">
    <%= render PageHeaderComponent.new(Category) do |c| %>
      <% c.with_action do %>
        <%= render CreateActionComponent.new(href: new_project_category_path(@project), turbo_frame: dom_id(Category.new)) %>
      <% end %>
    <% end %>
    <%= turbo_frame_tag Category.new %>
    <div class="list">
      <%= render TableComponent.new(
        collection: @categories,
        row_component: CategoryRowComponent,
        headers: ["Title", "Type", "Actions"],
        id: "categories",
        empty_message: "No existing categories",
        project: @project
      ) %>
    </div>
  </div>
</div>
