<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for(:title) || "Effort Estimator" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest" , href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="drawer drawer-open">
      <input id="drawer-toggle" type="checkbox" class="drawer-toggle" checked />
      <div class="drawer-content flex flex-col">
        <main>
          <div id="flash">
            <%= render "layouts/flash" %>
          </div>
          <main class="drawer p-4">
            <div class="drawer-content">
              <%= yield %>
            </div>
          </main>
        </main>
      </div>
      <div class="drawer-side">
        <div class="p-4">
          <h3 class="text-lg font-semibold mb-4">Menu</h3>
          <ul class="menu bg-base-200 rounded-box w-56">
            <li>
              <%= link_to "Projects", projects_path %>
              <ul>
                <% if @project&.persisted? %>
                  <li>
                    <%= link_to "Overview", @project %>
                  </li>
                  <li>
                    <%= link_to "Effort Breakdown", project_efforts_path(@project) %>
                  </li>
                  <li>
                    <%= link_to "Categories", project_categories_path(@project) %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
