<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for(:title) || "Effort Estimator" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest" , href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="drawer drawer-open">
      <input id="drawer-toggle" type="checkbox" class="drawer-toggle" checked />
      <div class="drawer-content flex flex-col">
        <main>
          <div id="flash">
            <%= render "layouts/flash" %>
          </div>
          <main class="drawer p-4">
            <div class="drawer-content">
              <%= yield %>
            </div>
          </main>
        </main>
      </div>
      <div class="drawer-side">
        <%= render Navigation::MenuComponent.new do |menu| %>
          <% menu.with_record_item(label: "Projects", index_href: projects_path, record: @project) do |item| %>
            <% item.with_subitem(label: "Overview", href: project_path(@project)) %>
            <% item.with_subitem(label: "Effort Breakdown", href: project_efforts_path(@project)) %>
            <% item.with_subitem(label: "Categories", href: project_categories_path(@project)) %>
            <% item.with_subitem(label: "Parameters", href: project_parameters_path(@project)) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
